


* {
    margin: 0;
    padding: 0;
}
	
	

h2 {
    text-align: center;
    margin-top: 30px;
    text-decoration: underline;
}

fieldset {
    border: 0;
    width: 400px;
    margin: 50px auto 0 auto;
    border-radius: 5px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #EEE, white);
}

div {
    margin:25px 0 28px 20px;
    font-size: 20px;
}

.btn{
	font-size:15px;
	width:80px;
	height:30px;
	border:0;
  	background-color:#003C9D;
  	color:#fff;
  	border-radius:10px;
  	cursor:pointer;
  	margin-right:10px;
	}
	
.btn:hover{
  color:#003C9D;
  background-color:#fff;
  border:2px #003C9D solid;
}